html, body {
    margin: 0 auto;
    height: 100%;
}
.container {
    background:linear-gradient(45deg, rgba(103, 52, 34, 10), rgba(34, 101, 163, .5)), url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: courier;
    height: 100%;
}

.content {
    width: 1366px;
    margin: 0 auto;
    padding-top: 49px;
}

/*********************HEADER*********************/


.logo {
    float: left;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    color:#ffffff;
}

.logo:hover {
    background-image: url("../img/logo-orange.png");
    color: #f26522;
}

.logo-name {
    text-decoration: none;
    color:inherit;
}

.logo-first-word {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
    margin-left: 55px;
}

.logo-second-word {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
    margin-left: 55px;
}

.logo-second-word:last-of-type {
    display: block;
}

.contacts {
    float: right;
    text-align: right;
    font-size: 18px;
    color: #ffffff;
}




/***********************IMAGES*********************/
.tours {
    padding-top: 45px;
}

.column {
    float: left;
    width: 33.33%;
}

.row {
    margin-bottom: 50px;
}

.wrapper{
    display: table;
    margin: 0 auto;
}

.image-block {
    position: relative;
    width: 100%;
    background: linear-gradient(to top, transparent, #ffffff);
    padding: 1px;
}

.row .column:first-of-type .wrapper {
    float: left;
}
.row .column:last-of-type .wrapper{
    float: right;
}

.tour-item {
    float: left;
    width: 33.33%;
}

.tour-img {
    display: block;
    margin: auto;
}

.tour-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}

.tour-name-link {
    text-decoration: none;
}

.tour-name:hover {
    color: #f26522;
}

.orange-block {
    position: absolute;
    bottom: 0;
    background-color: #f26522;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.wrapper:hover .orange-block {
    height: 63px;
}

.wrapper:hover .tour-name {
    color: #f26522;
}

.number {
    color: #ffffff;
    font-size: 20px;
    display: block;
}

.number::before {
    content: '€';
}

.details {
    float: right;
    color: #ffffff;
    font-size: 14px;
    padding: 11% 3%;
}

.price {
    color: #ffffff;
    font-size: 10px;
    float: left;
    padding: 7% 7%;
}

i {
    border: solid #f9b291;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*******************FOOTER****************************/

.footer {
    margin-top: 10%;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

/*******************CLEARFIX**************************/

.row::after {
    display: table;
    content: '';
    clear: both;
}

.clearfix:after {
    content:'';
    clear: both;
    display: block;
}




